<!-- Footer -->

<footer class="page-footer font-small cyan darken-3 mt-5 text-center ">
  <hr>
  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

  <div class="row mx-auto">
    <div class=""col-md-8>
      <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Pocetna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">O nama</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Svi oglasi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Kontakt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
    </ul>
    </div>
  </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> Payvor</a>
  </div>