<hr />
<hr />
<h2 class="text-center mt-5 mb-5">Lorem ipsum</h2>

<div class="d-flex">
  <div class="px-5">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor
      dolor ex. Praesent sed convallis augue, sed volutpat purus. Nulla
      facilisi. Ut fringilla, lectus vitae mollis suscipit, quam augue venenatis
      metus, id congue nibh erat non ante. Ut dictum neque est. Vestibulum
      tempus augue et orci ullamcorper dignissim. Vestibulum tempus quis lectus
      id pellentesque. Nullam ut arcu nec urna elementum ullamcorper.
      Pellentesque gravida dolor vel magna accumsan aliquet quis eget justo.
    </p>
  </div>

  <div class="px-5">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor
      dolor ex. Praesent sed convallis augue, sed volutpat purus. Nulla
      facilisi. Ut fringilla, lectus vitae mollis suscipit, quam augue venenatis
      metus, id congue nibh erat non ante. Ut dictum neque est. Vestibulum
      tempus augue et orci ullamcorper dignissim. Vestibulum tempus quis lectus
      id pellentesque. Nullam ut arcu nec urna elementum ullamcorper.
      Pellentesque gravida dolor vel magna accumsan aliquet quis eget justo.
    </p>
  </div>
</div>

<hr />
<hr />
<h2 class="text-center mt-5 mb-5">Lorem ipsum</h2>
<hr />
<div class="d-flex">
  <div class="px-5">
    <ul>
      <li class="h4">+38103242234</li>
      <li class="h4">payvor@payvor.rs</li>
      <li class="h4">Beograd</li>
      <li class="h4">Srbija</li>
      <li class="h4">Tadeusa Koscuskog 63</li>
    </ul>
  </div>

  <div class="px-5"></div>
</div>
