
<div class="home">

    <img class="img-fluid" src="./assets/images/home.jpg" alt="home">

</div>

    <hr><hr>
<h2 class="text-center my-5">Lorem ipsum</h2>

<div class="row">

    <div class="col-5">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Donec tempor dolor ex. Praesent sed convallis augue, 
             sed volutpat purus. Nulla facilisi. Ut fringilla, lectus
              vitae mollis suscipit, quam augue venenatis metus, 
              id congue nibh erat non ante. Ut dictum neque est. 
              Vestibulum tempus augue et orci ullamcorper dignissim.
               Vestibulum tempus quis lectus id pellentesque. 
               Nullam ut arcu nec urna elementum ullamcorper. 
            Pellentesque gravida dolor vel magna accumsan aliquet quis eget justo.
        </p>
    </div>
    
    <div class="col-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Donec tempor dolor ex. Praesent sed convallis augue, 
                 sed volutpat purus. Nulla facilisi. Ut fringilla, lectus
                  vitae mollis suscipit, quam augue venenatis metus, 
                  id congue nibh erat non ante. Ut dictum neque est. 
                  Vestibulum tempus augue et orci ullamcorper dignissim.
                   Vestibulum tempus quis lectus id pellentesque. 
                   Nullam ut arcu nec urna elementum ullamcorper. 
                Pellentesque gravida dolor vel magna accumsan aliquet quis eget justo.
            </p>
        </div>
</div>